<h1>New Product</h1>

<hr>

<!-- <%= render "layouts/form" %> -->

<%= form_for @product do |f| %>
  <%= f.label :strain %>
  <%= f.text_field :strain %>
  <%= f.label :cann_abbr %>
  <%= f.text_field :cann_abbr %>
  <%= f.label :cost%>
  <%= f.number_field :cost %>
  <%= f.label :origin %>
  <%= f.text_field :origin %>
  <%= f.submit  %>
<% end %>
